go 1.20

use (
    ./5_Basic-Programming
    ./7_Time-Complexity-dan-Space-Complexity
    ./9_String-AdvanceFunction-Pointer-Method-Struct-and-Interface
    ./10_Recursive-Number-Theory-Sorting-Searching
    ./11_Problem-Solving-Paradigm-Brute-Force-Greedy-and-Dynamic-Programming
    ./12_Concurrent-Programing
    ./20_Echo-Golang
    ./21_ORM-and-Code-Structure-MVC
    ./22_Middleware
    ./23_Unit-test
    ./24_Clean-and-Hexagonal-Architecture/praktikum/belajar-go-echo
    ./25_Docker/praktikum
    ./tes-jwt
)